* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background: black;
  }
  
  .clock {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 6rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .7rem;
  }
  
  .text1 {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .7rem;
  }
  
  .text2 {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 4rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .7rem;
    margin-right: 10rem;
    margin-left: 10rem;
  }
  
   img {
       margin-top: 12rem;
       width: 17%;
  }